
ul{
    padding: 20px 20px;
    list-style-type: none;
    margin-top: -35px;
    overflow: hidden;
    background-color: dimgrey;
    text-align: center;
    position: sticky;
    top: 70px;
    
}

html, head{
    margin: 0;
}

li a{
    float:left;
    display: black;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    min-width: 200px;
}

li a:hover{
    background-color:#222222;
}

h1{
    width: 100%;
    padding-top: 25px;
    margin-top: -10px;
    background-color: black;
    color: white;
    border-color: black;
    font-size: 40px;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*text-shadow: margin-left: -25px; 0px 0px 5px yellow, 0px -5px 5px red;*/
    position: sticky;
    top: 0px;
}
